<div >
  <form [formGroup]="form" (ngSubmit)="submit()" >
    <div class="card">
      <div class="formgrid grid">
        <div class="field col-12 md:col-6">
          <label>Nome:</label>
          <input formControlName="nome" placeholder="Digíte um nome" pInputText class="w-full"/>
          <app-message-validation [fGroup]="form" field="nome" label="Nome"></app-message-validation>
        </div>
        <div class="field col-12 md:col-6">
          <label>E-mail:</label>
          <input type="text" pInputText formControlName="email" class="w-full" s/>
          <app-message-validation [fGroup]="form" field="email" label="E-mail"></app-message-validation>
        </div>
        <div class="field col-12 md:col-6">
          <button pButton label="Primary" ></button>
        </div>
      </div>
    </div>
    <p>Form Status: {{ form.status }}</p>

    permissoes:
    <span *ngFor="let t  of this.listPermissao">
      {{t.nome}}
    </span>

    <p-pickList [source]="this.listPermissao" [target]="this.listPermiSele" sourceHeader="Available" targetHeader="Selected" [dragdrop]="true" [responsive]="true" 
        [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1400px">
        <ng-template let-permissao pTemplate="item">
           {{permissao.nome}}
        </ng-template>
    </p-pickList>

  </form>
</div>
