<p-panel header="Busca de Usuários">
  <form></form>
  <div class="formgrid grid">
    <div class="field col-12 md:col-12">
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton  value="0" [(ngModel)]="this.tipoBusca"></p-radioButton>
          <label class="ml-2">Nome</label>
        </div>
        
        <div class="flex align-items-center">
          <p-radioButton  value="1" [(ngModel)]="this.tipoBusca"></p-radioButton>
          <label class="ml-2">CPF</label>
        </div>
      </div>
    </div>
      <div class="field col-12 md:col-6">
        
          <p-inputMask mask="999.999.999-99" name="sdas" [(ngModel)]="this.busca"   placeholder="999.999.999-99" *ngIf="this.tipoBusca == 1" class="w-full" ></p-inputMask>
          <input type="text" pInputText [(ngModel)]="this.busca" *ngIf="this.tipoBusca == 0" placeholder="Nome" class="w-full"/>
        
      </div>
  </div>
  <p-button label="Buscar" (click)="this.buscar()"></p-button>
</p-panel>

<p-panel header="Lista de Usuários">

</p-panel>
