@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.height-size-he-foo{
  height: 100px;
}

body,main,.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 12pt;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.header{
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
  background-color: blueviolet;
}

.miolo{
  height: 100%;
}

.nav{
  height: 100%;
  width: 300px;
  background-color: #252b3b;
  display: flex;
  flex-direction: column;
  box-shadow: -3px 1px 14px 0px rgb(0 0 0 / 69%);
}


/*
@media (min-width: 1024px) {
  body {

  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

*/